.f-container{
    justify-content: space-between;
    background-color: #14141E;
    color:#ff85a2 ;
}
.f-left{
    gap: 1rem;
}
span.primaryText{
    color: #ff85a2;
}
#sec{
    color: #ff85a2;
}
#sec1{
    color:white;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
@media (max-width: 768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
    .f-right{
        justify-content: center;
    }
}