.c-container {
  justify-content: center;
}
.c-container > div {
  flex: 1;
}
.c-right {
  width: 100%;
  display: flex;
  justify-content: center;
}
.c-left {
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.contactSingle {
  margin-top: 2rem;
  padding: 1.5rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 300ms ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}
.contactSingle .button {
  width: 100%;
  background: var(--lightBlue);
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}
.contactSingle:hover {
  scale: 1.05;
  background-color: #ffeff5;
  box-shadow: var(--shadow);
}
.contactSingle .button:hover {
  background: var(--blue-gradient);
  color: white;
  scale: 0.95;
}

@media (max-width: 1024px) {
  .c-container {
    flex-direction: column;
  }
  .c-right {
    justify-content: center;
  }
  .contactSingle {
    width: 100%;
  }
}
